body {
    color:white;
    background:#065396;
    overflow-x:hidden;
    width:100%;
    height:100%;
    margin:0;
}



label{
    font-family: 'Raleway', sans-serif;
    color:white;
    font-weight:bold;
}
h1{
    font-family: 'Raleway', sans-serif;
    text-align:center;
    color:white;
}

#Menu{
    text-align:center;
    background:white;
    box-shadow: 2px 2px 5px #002545;
    padding-top:10px;
    padding-bottom:10px;
    position:fixed;
    width:100%;
    top:0px;//

}

#Menu a {
    text-decoration:none;
    color:black;
    font-size:14pt;
    font-family: 'Raleway', sans-serif;
    margin-left:30px;
    margin-right:30px;
}

#Menu a:hover{  color:#065396;  cursor:pointer;
}
.patterninfo {
    margin-left:auto;
    margin-right:auto;
    width:300px;

}
.patterninfo2 {
    margin-left:auto;
    margin-right:auto;
    width:320px;

    padding-left:30px;
}
.labelinfo{
    box-shadow: 2px 2px 2px #002545;
    margin-top:10px;
    background:white;
    padding-left:10px;
    padding-top:10px;
    padding-bottom:10px;
    border-radius:0.2em;
}

.labelinfo input[type="text"]{ width:280px; border:none; outline:0; }

.labelinfo textarea{ width:280px; border:none; outline:0;}

#subtypeLabel{  margin-left:70px  }

.button{
    border:0px;
    margin-top:10px;
    background:white;
    color:black;
    text-align:center;
    padding:10px;
    font-weight:bold;
    margin-left:170px;
    box-shadow: 2px 2px 2px #002545;
}

.input_fields_wrap input[type="text"]{ margin-top:10px;}

.remove_field{
    margin-left:10px;
    font-family: 'Raleway', sans-serif;
    color:white;
    text-decoration:none;
}
.remove_field:hover{  color:black;  cursor:pointer;}

.add_field_button{
    position:absolute;
    margin-top:5px;
    margin-left:20px;
}

#op{
    width:300px;
    height:300px;
    overflow:auto;
    background-color:rgba(221,214,221,0.3);
    border:1px dashed black;
}

.mini_icon{
    margin-left:15px;
    width:20px;
    margin-top:12px;
    position:absolute;
}

.note{
    color:#065396;
    font-size:9pt;
    font-style:italic;
}

.buttonimportexport{
    background:black;
    color:white;
    border:0px; text-align: center;
    padding:10px;
    font-weight:bold;
    box-shadow: 2px 2px 2px #002545;
}
.buttonimportexport:hover{
    background:#002e56;
    box-shadow: 2px 2px 2px #002545;
    cursor:pointer;
}

.import{
    position:fixed;
    bottom:0px;
    background:black;
    color:white;
    border:0px; text-align: center;
    padding:10px;
    font-weight:bold;
    box-shadow: 2px 2px 2px #002545;
}
.import:hover{
    background:#002e56;
    box-shadow: 2px 2px 2px #002545;
    cursor:pointer;
}
.export{
    position:fixed;
    bottom:0px;
    padding:10px;
    position:fixed;
    bottom:0px;
    right:0px;
    color:white;
    text-align:center;
    font-weight:bold;
    background:black;
}
.export:hover{
    background:#002e56;
    box-shadow: 2px 2px 2px #002545;
    cursor:pointer;
}


.buttons{
    position:absolute;
    right:0px;
}

.madepatterninfo{
    width:300px;
    background:white;
    color:#065396;
    margin-left:auto;
    margin-right:auto;
}

.Pattern{
    background:white;
    color:black;
    border-radius:0.2em;
    width:600px;
    margin-left:auto;
    margin-right:auto;
    box-shadow: 2px 2px 2px #002545;
    padding-bottom:5px;
    margin-top:30px;
    display:block;
}

.pattername{
    font-family: 'Raleway', sans-serif;
    color:white;
    background:black;
    width:100%;
    text-align:center;
    padding-top:5px;
    padding-bottom:5px;
}
.title{
    text-decoration:underline;
    font-family: 'Raleway', sans-serif;
    position:absolute; margin-left:10px;
    margin-top:10px;
}

.problem{

}
.select{
    font-family: 'Raleway', sans-serif;
    width:600px;
    margin-left:auto;
    margin-right:auto;
}
.text{
    padding-left:5px;
}
.select .text  input[type="submit"] {
    background:black;
    color:white;
    border:none;
/* margin-top:-0px;
 margin-left:476px;*
 position:absolute;*/
 padding-top:5px;

 padding-bottom:5px;
 border-bottom-left-radius:0.2em;
 border-bottom-right-radius:0.2em;
}
.select .text input[type="submit"]:hover{
 cursor:pointer;
 background:#002e56;
}

.text{
 margin-top:-0px;
 margin-left:426px;
 position:absolute;
 background:black;
 color:white;
}

.choosenpattern{
    width:500px;
    background:white;
    color:black;
    margin-top:30px;
    margin-left:auto;
    margin-right:auto;
    border-radius:0.2em;    box-shadow: 2px 2px 2px #002545;
}

.choosentitle{
    font-family: 'Raleway', sans-serif;
    background:black; color:white;
    text-align:center;
    padding-top:5px;
    padding-bottom:5px;
}
.choosendiagram{
    text-align:center;
    padding-bottom:10px;
    padding-top:10px;
}

.center{
    text-align:center;
}
.solutiontext{
    width:450px;
    margin-left:auto;
    margin-right:auto;
}

.helpbox{
    margin-top:50px;
    background:white;
    border:0.2em;
    text-indent:10px;
    margin-left:auto;
    margin-right:auto;
    width:750px;
    box-shadow: 2px 2px 2px #002545;
    display:block;
}

.helptitle{
    font-family: 'Raleway', sans-serif;
    width:100%;
    background:black;
    color:white;
    text-align:center;
}
.helptext{
    color:black;
    padding:10px;
}

.helptext a{
    color:#065396;
    text-weight:bold;
    text-decoration:none;
}

.helptext a:hover{
    color:#002e56;
}

.helpicon{
    position:fixed;
    top:15px;
    right:15px;
}
.helpicon img{
    width:15px;
}