<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
        PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
    <servlet>
        <servlet-name>PatternSelectorServlet</servlet-name>
        <servlet-class>View.PatternSelectorServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>PatternSelectorServlet</servlet-name>
        <url-pattern>/PatternSelectorServlet.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>FileUploadHandler</servlet-name>
        <servlet-class>View.FileUploadHandler</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FileUploadHandler</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>
</web-app>