<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="WebApp_ID" version="3.0">
    <servlet>
        <servlet-name>PatternSelectorServlet</servlet-name>
        <servlet-class>View.PatternSelectorServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>PatternSelectorServlet</servlet-name>
        <url-pattern>/PatternSelectorServlet.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PatternEditorServlet</servlet-name>
        <servlet-class>View.PatternEditorServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>PatternEditorServlet</servlet-name>
        <url-pattern>/PatternEditorServlet.do</url-pattern>
    </servlet-mapping>
    <context-param>
        <description>Location to store uploaded file</description>
        <param-name>file-upload</param-name>
        <param-value>/Volumes/JetDrive/apache-tomcat-8.0.17/images/</param-value>
    </context-param>
</web-app>